<!--The 'step_code' value from the .js file should be used-->
<li id="step_code" data-bind="fadeVisible: isVisible">
    <div class="step-title" data-bind="i18n: 'Comment'" data-role="title" style="margin: 20px 0"></div>
    <div id="checkout-step-title"
         class="step-content"
         data-role="content">

        <div data-role="title">
            <span class="action action-toggle" role="heading" aria-level="2" style="margin-bottom: 10px">
                <!-- ko i18n: 'Add a shipping comment'--><!-- /ko -->
            </span>
        </div>
        <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
            <div class="field">
                <div class="control">
                    <textarea class="input-text" name="shipping_comment" rows="4" data-bind="attr:{placeholder: $t('Type here...')} " ></textarea>
                </div>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
